.card {
  padding: 10px 8px;
  border: 1px solid green;
  background-color: #0080003f;
  margin-top: 10px;
  color: green;
  &.card--pink {
    border: 1px solid rgb(216, 64, 178);
    color: rgb(210, 59, 230);
    background-color: rgba(231, 86, 224, 0.226);
  }
  &.card--orange {
    border: 1px solid orange;
    color: orange;
    background-color: rgba(255, 166, 0, 0.233);
  }
}
