<div id="app" class="container-sm">
  <!-- Version of Angular -->
  <h2 class="text-center">
    TodoList by
    <a href="https://www.facebook.com/dung.nguyentien.eddie/" target="_blank"
      ><i>EddieOnTheCode</i></a
    >
  </h2>
  <div class="d-flex">
    <inputangular
      placeholder="{{ placeholder }}"
      [(todo)]="todo"
      class="flex-grow-1"
    >
    </inputangular>
    <buttonangular style="margin-left: 8px" name="Add" (addTodo)="addTodo()">
    </buttonangular>
  </div>
  <listtodo [listTodos]="listTodos"></listtodo>
  <hello name="{{ name }}"></hello>
</div>
