.listtodo {
  margin-top: 10px;
  &__item {
    border-bottom: 1px solid #ccc;
    padding: 8px 8px 8px 4px;
    margin: 10px 4px;
    $item: &;
    &-check {
      margin-right: 20px;
      cursor: pointer;
      color: #888;
      &:hover {
        color: #333;
      }
      #{$item}.selected & {
        color: #34b057;
      }
    }
    &.selected {
      text-decoration: line-through;
      color: #34b057;
    }
    &-content {
    }
    &-delete {
      display: none;
    }
    &:hover &-delete {
      display: block;
      color: red;
      cursor: pointer;
    }
  }
}
