/* Add application styles & imports to this file! */
/* // Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
}

html,
body {
  margin: 0;
  /* remove default margin */
  padding: 0;
  /* remove default padding */
  width: 100%;
  /* take full browser width */
  height: 100%;
  /* take full browser height*/
  border: 0;
  box-sizing: border-box;
}

/* // Disable default style */
a,
a:hover {
  text-decoration: none;
}
input,
textarea,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: 0;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
